@model FlatMatchApp.Models.LeaseholderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    <div>
        <h4>Leaseholder</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Leaseholder.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Leaseholder.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Leaseholder.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Leaseholder.LastName)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Leaseholder.Property.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Leaseholder.Property.Type)
            </dt>
            <dd>
                <img src="@Html.DisplayFor(model => model.Leaseholder.ProfileUrl)" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Leaseholder.ProfileUrl)
            </dt>
            <dd class="col-sm-2">
                @Html.DisplayNameFor(model => model.Leaseholder.Property)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Leaseholder.Property)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Leaseholder.Property.Address.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Leaseholder.Property.Address.City)
            </dt>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Leaseholder.Id" class="btn btn-danger">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <div>
        <h5>Recommendations:</h5>
        <div>
            Click <button onclick="recommendations()">Here</button>if you'd like to see some recommendations about how to improve your profile
        </div>
        <div id="Photos">
        </div>
        <div id="Description">
        </div>
        <div id="Price">
        </div>

        <script type="text/javascript">
            function recommendations() {
                //Need to change this once we decide how we're storing photos. If photo count is less than 3 or something
                document.getElementById("Photos").innerHTML = "We would recommend adding another photo or two to really make your profile pop!";
                //Description length of words or even letters < 300 or something
                document.getElementById("Description").innerHTML = "We'd recommend adding more on the description section. People like to know what they're getting into."
                document.getElementById("Price").innerHTML = "Your price is pretty high. You might want to think about lowering it to attract more renters."
            }
        </script>
    </div>