@model FlatMatchApp.Models.LeaseholderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leaseholder</h4>
    <hr />
    <dl class="row">
        <dd>
            <img src="@Html.DisplayFor(model => model.Leaseholder.ProfileUrl)" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaseholder.ProfileUrl)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaseholder.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leaseholder.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaseholder.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leaseholder.LastName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leaseholder.Property.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaseholder.Property.Type)
        </dt>

        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaseholder.Property)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaseholder.Property)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leaseholder.Property.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leaseholder.Property.Address.City)
        </dt>
       
        <dd class=" col-sm-10">
            @foreach (var item in Model.UserPreferences)
            {


                <div>
                    @Html.DisplayFor(modelItem => item.PreferenceName.Name)
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Value)
                </div>
                @*<div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>*@

            }

        </dd>
    </dl>
</div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Leaseholder.Id" class="btn btn-danger">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
