@model FlatMatchApp.Models.RenterViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_RenterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Street Name
            </th>
            <th>
                City
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Leaseholders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Property.Address.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.Address.City)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
